@primary-green: #1CC0A0;
@primary-red: #E51C44;
@secondary-blue-100: #0A1033;
@secondary-blue-80: #0E1647;
@primary-white: #FFF;
@overlay: rgba(0,0,0,0.7);
@highlight: #ABB1CC;
@heading: #DDE3F0;
@on: #32BD50;
