@import "../../global/styles/variables.less";

.container {
  width: 80%;
  height: 50px;
  background-color: @primary-green;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  flex-direction: row;
}

.box {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  margin-left: 15px;
}

.title {
  font-size: 15px;
  font-family: Inter_500Medium;
  color: @primary-white;
}

.textButtons {
  font-size: 15px;
  font-family: Inter_700Bold;
  color: @primary-green;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 8px;
}
