@import "../../global/styles/variables.less";

.container {
  width: 80%;
  height: 50px;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  flex-direction: row;
  background-color: @primary-dark-green;
  margin-bottom: 5px;
}

.containerButton {
  width: 100%;
}

.box {
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.titleBox {
  display: flex;
  width: 50%;
  background-color: red;
}

.title {
  font-size: 15px;
  font-family: Inter_500Medium;
  color: @primary-white;
  font-weight: bold;
  text-align: left;
}

.textButtons {
  font-size: 15px;
  font-family: Inter_700Bold;
  color: @primary-white;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 8px;
}
