@import "../../../global/styles/variables.less";

.container {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.dropdown {
  width: 100%;
  height: 40px;
  color: #000;
  margin-bottom: 10px;
}

.containerImage {
  margin-top: 20%;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 12px;
}

.box {
  width: 100%;
  flex-direction: column;
}

.containerDate {
  margin: 0px 25px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textInputs {
  color: #B9B9C0;
  font-size: 20px;
  font-weight: bold;
  margin-top: 7px;
}

.input {
  width: 40%;
  height: 50px;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #B9B9C0;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.logoutButton {
  width: 40%;
  height: 50px;
  background-color: @primary-red;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
}

.logoutContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.containerOperation {
  margin: 0px 25px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonBuyOrSell {
  margin-top: 10px;
  width: 80px;
  height: 30px;
  background-color: #000;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: 50px;
}

.buttonBuyOrSell2 {
  margin-top: 10px;
  width: 80px;
  height: 30px;
  background-color: #000;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
}

.titleButton {
  color: #FFF;
  text-align: center;
}

.TitleCompany {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
