  @import "../../global/styles/variables.less";

  .container {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }

  .image {
    width: 250;
    height: 250;
    margin-bottom: 20;
  }

  .input {
    width: 80%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: @primary-white;
    color: @primary-white;
    margin-bottom: 10px;
    padding: 10px;
  }

  .signUp {
    margin-top: 10px;
  }

  .auth {
    margin-bottom: 10px;
  }

  .textEntry {
    color: @primary-white;
    text-align: center;
    font-family: Inter_500Medium;
    font-size: 15;
    margin-bottom: 10px;
  }

  .btnSignUp {
    width: 80%;
    height: 50px;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
  }

  .btnSignUpTitle {
    text-align: center;
    font-size: 15px;
    font-family: Inter_500Medium;
    color: @primary-green;
  }
