@import "../../global/styles/variables.less";

.container {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 15px;
  font-family: Inter_700Bold;
  color: @primary-green;
  text-align: center;
}
