@import "../../global/styles/variables.less";

.container {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 15px;
  font-family: Inter_700Bold;
  color: @primary-green;
  text-align: center;
}

.containerModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnModal {
  height: 50px;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
}

.btnModalTitle {
  text-align: center;
  font-size: 15px;
  font-family: Inter_500Medium;
  color: @primary-white;
}

.bar {
  width: 60px;
  height: 3px;
  border-radius: 2px;
  background-color: @primary-green;
  align-self: center;
  margin-top: 13px;
}

.containerList {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.myList {
  width: 100%;
}