.container {
  flex: 1;
  align-content: center;
  justify-content: center;
}

.box {
  flex-direction: row;
  border: 1px;
  border-color: green;
}

.namesTickets {
  flex-direction: column;
}

.containerActions {
  text-align: left;
  margin: 5px;
  color: white;
}