@import "../../global/styles/variables.less";

.container {
  width: 80%;
  height: 90px;
  justify-content: center;
  margin-top: 10px;
}

.containerWallet {
  flex-direction: row;
  align-items: center;
}

.containerData {
  flex-direction: column;
  align-items: center;
  max-width: 65px;
  min-width: 60px;
  margin: 0 15px;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  margin-bottom: 5px;
}

.abr {
  font-size: 14px;
  font-family: Poppins_700Bold;
  color: #050b17;
}

.nameTicket {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Poppins_400Regular;
  font-weight: 500;
  color: #050b17;
}

.percent {
  margin-bottom: 10px;
  font-size: 12px;
  font-family: Poppins_400Regular;
  font-weight: 500;
  color: #050b17;
}

.quantity {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: Poppins_400Regular;
  font-weight: bold;
  color: #050b17;
}

.price {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Poppins_700Bold;
  color: #050b17;
}

.lastPrice {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: Poppins_400Regular;
  color: #3D302D;
}
