@import "../../global/styles/variables.less";

.container {
  width: 320px;
  border-radius: 16px;
  display: flex;
  height: 90px;
  justify-content: center;
  margin-bottom: 15px;
}

.containerData {
  flex-direction: row;
  align-items: center;
}

.containerImage{
  margin-left: 10px;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  border: 2px solid #ccc;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

.bar {
  width: 4px;
  height: 55px;
  background-color: #ccc;
  margin-right: 10px;
  margin-left: 10px;
}

.containerNameAction {
  display: flex;
  width: 130px;
  height: 50px;
  flex-direction: column;
}

.containerPrice {
  display: flex;
  width: 130px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  padding-right: 55px;
}

.nameTicket {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Inter_500Medium;
  font-weight: bold;
}

.price {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Inter_500Medium;
  font-weight: bold;
  text-align: left;
}

.percent {
  font-size: 15px;
  font-family: Inter_500Medium;
  color: @primary-green;
  font-weight: bold;
}

